@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

#info-card{
    margin: 2rem 0;
    border-radius: 1rem;
    border: 3px #cdebb4 solid;
    height: auto;
    font-family: 'Noto Sans TC',sans-serif;

}

#icon{
    padding: 1.5rem;
}
#icon:hover{
    padding: 1.5rem;
    color: #311010;
    background-color: #94e651;
    border-radius: 1rem;
}
#line-fb{
    font-size: 2.5rem;
    
}
#line-fb div{
    position: relative;
}
#line{
    color: green;
}
#fb{
    color: blue;
}
#map{
    border-radius: .5rem;
}

#line:hover i{
 position: absolute;   
  
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-size: 3rem;
   padding-bottom: 1rem;
   padding-left: 1rem;
}

#fb:hover i
{
    position: absolute;   
  
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-size: 3rem;
}
#submit{
    margin: 1rem 0;
    background-color: #cdebb4;
}
#submit:hover{
   
    margin: 1rem 0;
    
    background-color: #2c5709;
    color: #fff;
}