* {
  padding: 0px;
  margin: 0px;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

.jumbotron {
  /*background-color: #FFF;*/
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

#cream h1{
  padding-top: 2rem;
} 


#local{
  
  padding-top: 2rem;
  
}
.main-footer {
  padding: 10px 0;
  background-color: #000;
  color: #fff;
}

body {
  /* background-image: url('../img/background_img.jpg'); */
  
    position: relative;
  margin: 0;
  
  min-height: 100%;
}

img {
  width: 100%;
}

.breadcrumb {
  /*background-color: #FFF;*/
  background-image: url('../img/background_img.jpg');
}

.breadcrumb-item+.breadcrumb-item::before {
  content: '>';
}

#footer {
  
  background-color: #e0e0e0;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  
  text-align: center;
}

#footer h3 {
  margin: 0;
  font-size: 1rem;
}
.nav-item{
 padding: 0 1rem;
}
#navbarSupportedContent a:active {
  background-color: #a0a0a0;
  
}
#navbarSupportedContent li{

  border: 3px solid transparent;
  box-sizing: border-box;
  position: relative;
}
#navbarSupportedContent li:hover{
  border-style:outset;
  
 
}
#navbarSupportedContent li:hover::before
{
  
  content:"";
  width: 100%;
  padding: 1.5px 0;
  background-color: #d3eea8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s;
}

#libon {
  color: #062722;
}


#navbar {
  position: sticky;
  top: 0;
  z-index: 5;
}
#pup{
  background-color: white;
  padding-top: 1rem;
  border-radius: 1rem;
  border: 2px solid #cdebb4;
}

#downselect{
height: 2rem; 
}

#sptitle {

  width: 100%;
  height: 100px;
  padding-bottom: 150%;
  background-image: url("/img/ledream.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;

}
.marqee {
	height: 3em;
	margin: 0 auto;
	overflow: hidden; 
	position: absolute;
  background-color: rgba(233, 227, 227, 0.4);
  bottom: 0;
  
}
.marqee h3{
  padding: 1rem 0  0;
  animation: marqee 15s linear infinite;
  position: absolute;
  display: flex;
 
}
.marqee h3 a{
  white-space: nowrap;
  margin-right: 2em;
  color: #313131;
  text-decoration: none;
  
}
.marqee h3:hover{
  animation-play-state: paused;


  
  
}
@keyframes marqee {
	0% {
		left: 100%;
		transform: translateX(0%);
	}

	100% {
		left: 0;
		transform: translateX(-100%);
	}
}

#runbox{
  width: 100%;
  height: auto;
}
#doubble11{
  width:100%;
  height: auto;
  object-fit: contain;
}
#list{
  margin: 2rem 0;
}

#selecttable{
  padding-top: 2rem;
  
 
}

 #storebox {
  padding: 1rem;
  background-color: #fff;
  border: #cdebb4 2px solid;
  border-radius: 1rem;
  margin: .5rem;
  
}
#product-button{
  margin-top: 1rem;
  background:    #D0F7AB;
border-radius: 16px;
padding:       20px 30px;
color:         #020202;
display:       inline-block;
font:          normal bold 17px/1 "Overlock", cursive;
text-align:    center;
border: #fff ;
}

#product-button:hover{
  background:    #093315;
border-radius: 16px;
padding:       20px 30px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 17px/1 "Overlock", cursive;
text-align:    center;
border: #fff ;
}


#story{
  height: auto;
  padding: 2rem;
  background-color: #fff;
}

#story div{
  margin: 0;
 
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
div img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
p ,li{
  font-size: 1.2rem;
}


#logo{
  padding: 1rem;
  width: 50%;
 
  
}
#product-card{
  
  background-color: #fff;
  border-radius: 5%;
  padding: .5rem  ;
  border: #cdebb4 2px solid;
 
  
}
#founder-info{
  position: relative;
  background-color:#D0F7AB;
  padding: 1rem;
}
#brand-info{
  background-color: rgba(136, 133, 133, 0.1);
}
#story div #founder{
  background-color: #D0F7AB;
  position: absolute;
  bottom: 0;
}
 #logo-a{
  background-color:#D0F7AB;
 

  }
  
 
  #container{
    min-height: calc(100vh - 70px);
    
    font-family: 'Noto Sans TC',sans-serif;
  }
  #imgbox{
    width:100%;  
    height:0;  
    padding-bottom: 100%;  
    
    position: relative;

  }
  #imgbox img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    border-radius: 1rem;
  }
  @media screen and (min-width: 768px){

    #product-p{
      display: none;
    }
  }