#bg{
    
    min-height: calc(100vh - 70px);
    position: relative;
    background-image: url("/img/lg.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
#product{
    position: relative;
   
   
}
#product img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    overflow: hidden;
    transition: box-shadow 500ms;
    z-index: 1;
}
#product:hover{
    opacity: .5 #747070;
}
#product:hover img{
    -webkit-filter:drop-shadow(5px 5px 5px #333);
}

   

#price{
    align-items: center;
    background-color: #c3e9a9;
    text-align: center;
}
#bar{
    /* background-color: #c3e9a9; */
}
#border{
    border: #747070 1px solid;
    margin: 2rem;
}