
@font-face {
  font-family: 'cwTeXFangSong';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.ttf) format('truetype');
}
*{
  font-family:cwTeXFangSong,cursive;
  
}
body{
    background-color:#ffffff;
 }
 #questions{
   margin: 2rem 0;
   border: 2px #d3eea8 solid;
   padding: 2rem;
   border-radius: 2rem;
 }
 
 .button{
   width:100%;
   border-bottom: 1px #8d8c8c solid;
   /* border-top: 1px #adaaaa solid ; */
   padding: 0;
   
 }
 #ans {
   
    background-color: rgb(255, 255, 255);
   width:100%;
   padding: .5rem;
   color:rgb(32, 31, 31);
   font-size:1.2rem;
   font-family:cwTeXFangSong,cursive ;
   
  
 }
 .button:hover{
  background-color: #f6efc5;
 }
 .button:hover #ans{
     transition: .5s;
    
      background-color: #d3eea8;
    width:100%;
    padding: 1.2rem;
    color:rgb(28, 71, 2);
    font-size:1.5rem;
    
    border-radius: 0 0 20% 20%;
    

 }
 .button:hover .hover div{
     
   display:block;
   transition: 1s;
   height: 100%;
  
   
   
 }
 
 .hover div{
   display:none;
   height: 0px;
   
   color: #343434;
   padding: 0.5rem;
   font-size: 1.2rem;
  
   
 }
 .button:hover #leaf{
   display: inline;
 }
 #leaf{
  width: 8%;
  display: none;
 }
